.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}
.paper{
    margin-top: 100px;

    justify-content: center;
    align-content: center;
    height: 500px;
    width: 400px;
}

.input{   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #00194F !important;
}
.inputMargin{
    margin-top: 15px !important;
    width: 250px !important;
}
.loginButton{
    margin-top: 40px !important;
    background-color: #00194F !important;
}

.createLink{
    margin-top: 60px;
    cursor: pointer;
    color: #00194F;
}

.loginLink{
    margin-top: 15px;
    cursor: pointer;
    color: #1C0045;
    display: flex;
    justify-content: center;
    align-content: center;

}
.accountInfo{
    color: #34D34E;
    text-align: center;
}
.paper2{
    background-image: url("../images/cong.png");
    background-size: cover;
    height: 300px;
    width: 450px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.error{
    margin-top: 15px !important;
    width: 250px !important;
    border-bottom: 4px solid rgba(255,0,0,0.3) !important;
    /* background-color: rgba(255,0,0,0.3) !important; */
    
}