html{
    font-family: 'Montserrat', sans-serif !important;
   
}
.container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-image: url("../images/back2.png");
    background-size: contain;
    background-repeat: repeat;
    height: 100vh;
}
.logo{
    height: 130px;
    
    
}
.paper{
    background-image: url("../images/schoolBack2.png");
    background-size: cover;
    margin-top: 100px;
    justify-content: center;
    align-content: center;
    height: 400px;
    width: 400px;
}
.login{
    color:#00194F !important;
}
.input{  
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputMargin{
    margin-top: 20px;
    width: 150px;
}
.loginButton{
    margin-top: 40px !important;
    background-color: #00194F !important;
}

.createLink{
    margin-top: 25px !important;
    cursor: pointer;
    color: #1C0045  !important;
   
}
